<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.geekidea.boot.test.mapper.FooBarMapper">

    <select id="getFooBarById" resultType="io.geekidea.boot.test.vo.FooBarVo">
        select *
        from foo_bar
        where id = #{id}
    </select>

    <select id="getFooBarPage" parameterType="io.geekidea.boot.test.query.FooBarQuery"
            resultType="io.geekidea.boot.test.vo.FooBarVo">
        select *
        from foo_bar
        <where>
            <if test="keyword != null and keyword != ''">
                and (name like concat('%',#{keyword},'%'))
            </if>
        </where>
    </select>

    <select id="getAppFooBarById" resultType="io.geekidea.boot.test.vo.AppFooBarVo">
        select *
        from foo_bar
        where id = #{id}
    </select>

    <select id="getAppFooBarPage" parameterType="io.geekidea.boot.test.query.AppFooBarQuery"
            resultType="io.geekidea.boot.test.vo.AppFooBarVo">
        select *
        from foo_bar
        <where>
            <if test="keyword != null and keyword != ''">
                and (name like concat('%',#{keyword},'%'))
            </if>
        </where>
    </select>

</mapper>
