<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.geekidea.boot.test.mapper.WorkingScheduleMapper">

    <select id="getWorkingScheduleById" resultType="io.geekidea.boot.test.vo.WorkingScheduleVo">
        select *
        from working_schedule
        where id = #{id}
    </select>

    <select id="getWorkingSchedulePage" parameterType="io.geekidea.boot.test.query.WorkingScheduleQuery"
            resultType="io.geekidea.boot.test.vo.WorkingScheduleVo">
        select *
        from working_schedule
        <where>
            <if test="arrangeType != null and arrangeType != ''">
                and arrange_type = #{arrangeType}
            </if>
            <if test="userId != null">
                and user_id = #{userId}
            </if>
            <if test="workingDateStart != null">
                and date(working_date) >= date(#{workingDateStart})
            </if>
            <if test="workingDateEnd != null">
                and date(working_date) &lt;= date(#{workingDateEnd})
            </if>
            <if test="status != null and status != ''">
                and status = #{status}
            </if>
        </where>
    </select>

    <select id="getAppWorkingScheduleById" resultType="io.geekidea.boot.test.vo.AppWorkingScheduleVo">
        select *
        from working_schedule
        where id = #{id}
    </select>

    <select id="getAppWorkingSchedulePage" parameterType="io.geekidea.boot.test.query.AppWorkingScheduleQuery"
            resultType="io.geekidea.boot.test.vo.AppWorkingScheduleVo">
        select *
        from working_schedule
        <where>
            <if test="arrangeType != null and arrangeType != ''">
                and arrange_type = #{arrangeType}
            </if>
            <if test="userId != null">
                and user_id = #{userId}
            </if>
            <if test="workingDateStart != null">
                and date(working_date) >= date(#{workingDateStart})
            </if>
            <if test="workingDateEnd != null">
                and date(working_date) &lt;= date(#{workingDateEnd})
            </if>
            <if test="status != null and status != ''">
                and status = #{status}
            </if>
        </where>
    </select>
    <select id="getWorkingScheduleByDate" resultType="io.geekidea.boot.test.vo.AppWorkingScheduleVo">
        SELECT *
        from working_schedule
        WHERE working_date = #{workingDate}
    </select>

</mapper>
